
.skill-container {
    display: flex;

    .skill-content {
        width: 60%;
        padding: 40px;

        .skill-content-title {
            margin: 0px;
            font-size: 110px;
            font-weight: bold;
            color: #e5e5e5;
        }
        .skill-content-subtitle {
            margin: 0px;
            margin-bottom: 10px;
            color: #232a34;
        }
        .skill-content-intro {
            color: #7e8890;
            font-style: italic;
            font-size: 19px;
            font-weight: normal;
            letter-spacing: 1px;
            line-height: 1.95;
        }
        .skill-content-item {
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: bold;
        }
        .skill-content-text {
            margin-bottom: 10px;
            color: #7e8890;
            font-size: 16px;
            font-weight: normal;
            line-height: 1.8;
        }
        .btn-pages {
            display: flex;
            justify-content: space-between;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
        }
    }

    .img-skill {
        width: 40%;
        height: 100%;
    }
}

