
.experience-container {
    display: flex;
    background-color: #232a34;

    .experience-content {
        width: 60%;
        padding: 50px;

        .experience-content-title {
            margin: 0px;
            font-size: 110px;
            font-weight: bold;
            color: #333c4e;
            line-height: 1;
        }
        .experience-content-subtitle {
            margin: 0px;
            margin-bottom: 20px;
            color: #fff;
        }
        .experience-content-intro {
            color: #7e8890;
            font-style: italic;
            font-size: 19px;
            font-weight: normal;
            letter-spacing: 1px;
            line-height: 1.95;
        }
        .experience-content-item {
            margin-bottom: 10px;
            color: #fff;
            font-size: 22px;
            font-weight: bolder;
            line-height: 1.5;
            border-bottom: 1px solid #f4ad24;
        }
        .experience-content-text {
            margin-bottom: 10px;
            color: #7e8890;
            font-size: 16px;
            font-weight: normal;
            line-height: 1.8;
        }
        .btn-pages {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
        }
    }

    .img-experience {
        width: 40%;
        height: 100%;
    }
}

